html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 0.4em 0.75em;
  border: 3px solid #333;
  border-radius: 9px;
  color: #fff;
  background-color: #333;
  font-size: 1.125rem;
}

.btn:hover {
  border-color: #000;
  background-color: #000;
}

.btn-subtle {
  background-color: #ccc;
  border-color: #ccc;
}

.btn-subtle:hover {
  border-color: #666;
  background-color: #666;
}

.btn-ghost {
  background-color: #fff;
  color: #333;
}

.btn-ghost:hover {
  border-color: #666;
  background-color: #666;
  color: #fff;
}

.btn-warning {
  background-color: #f33;
  border-color: #f33;
}

.btn-warning:hover {
  border-color: #933;
  background-color: #933;
}

.btn-small {
  font-size: 0.875rem;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.btn-big {
  font-size: 1.5rem;
}
